<!DOCTYPE html>
<html lang="fr">

<!-- Mirrored from www.cloud-temple.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 16 Oct 2021 12:09:05 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta name="google-site-verification" content="" />
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link
            rel="apple-touch-icon"
            sizes="180x180"
            href = "{{ asset('wp-content/themes/cloudtemple/src/assets/images/favicon/apple-touch-icon.png') }}"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href = "{{ asset('wp-content/themes/cloudtemple/src/assets/images/favicon/favicon-32x32.png') }}"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href = "{{ asset('wp-content/themes/cloudtemple/src/assets/images/favicon/favicon-32x32.png') }}"
    />
    <link
            rel="manifest"
            href = "{{ asset('wp-content/themes/cloudtemple/src/assets/images/favicon/site.html') }}"
    />
    <link
            rel="mask-icon"
            href = "{{ asset('wp-content/themes/cloudtemple/src/assets/images/favicon/safari-pinned-tab.svg') }}"
            color="#7f7f7f"
    />
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta
            name="description"
            content="Cloud Temple est une entreprise de services numériques. Elle est spécialisée dans le développement, la transformation, l’hébergement et l’infogérance d’applications critiques d’entreprise : la bonne stack applicative pour le bon enjeu métier !"
    />

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="Cloud Temple"/>
    <meta property="og:title" content="Cloud Temple - Accueil"/>
    <meta name="twitter:title" content="Cloud Temple - Accueil"/>
    <meta
            property="og:image"
            content= "{{ asset('wp-content/themes/cloudtemple/src/assets/images/preview-cloudtemple-og.png') }}"

    />
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="628"/>
    <meta
            property="twitter:image"
            content="{{ asset('wp-content/themes/cloudtemple/src/assets/images/preview-cloudtemple-twitter.png') }}"
    />
    <meta
            property="og:description"
            content="Cloud Temple est une entreprise de services numériques. Elle est spécialisée
            dans le la transformation, l’hébergement et l’infogérance d’applications critiques d’entreprise :
             la bonne stack applicative pour le bon enjeu métier !"
    />

    <title>Cloud Temple &#8211; Sécurité et transformation des systèmes d&#8217;information</title>
    <meta name='robots' content='max-image-preview:large' />
    <link rel="alternate" hreflang="fr" href="index.html" />
    <link rel="alternate" hreflang="en" href="en/index.html" />

    <link rel='stylesheet' id='wp-block-library-css'  href="{{ asset('wp-includes/css/dist/block-library/style.minf658.css?ver=5.8.1') }}" type='text/css' media='all' />
    <link rel='stylesheet' id='theme-css-css'  href="{{ asset('wp-content/themes/cloudtemple/build/bundle.css') }}" type='text/css' media='all' />
    <script type='text/javascript' id='wp-sentry-browser-js-extra'>
        /* <![CDATA[ */
      //  var wp_sentry = {#"dsn":"https:\/\/caad7a4fcaa042b79c9f505ae74b4819@o354824.ingest.sentry.io\/5379669","release":"1.0","environment":"production","content":{"tags":{"wordpress":"5.8.1","language":"fr-FR"}}#};
        /* ]]> */
    </script>
    <script type='text/javascript' src="{{ asset('wp-content/plugins/wp-sentry/public/wp-sentry-browser.min12f9.js?ver=3.10.0') }}" id='wp-sentry-browser-js' defer></script>
    <script type='text/javascript' src="{{ asset('wp-content/themes/cloudtemple/build/bundle68b3.js?ver=1') }}" id='theme-js-js' defer></script>
    <link rel="https://api.w.org/" href="wp-json/index.html" /><link rel="alternate" type="application/json" href="{{ asset('wp-json/wp/v2/pages/5.json') }}" /><link rel="canonical" href="index.html" />
    <link rel="alternate" type="application/json+oembed" href="{{ asset('wp-json/oembed/1.0/embed14de.json?url=https%3A%2F%2Fwww.cloud-temple.com%2F') }}" />
    <link rel="alternate" type="text/xml+oembed" href="wp-json/oembed/1.0/embed4d57?url=https%3A%2F%2Fwww.cloud-temple.com%2F&amp;format=xml" />
    <meta name="generator" content="WPML ver:4.4.10 stt:1,4;" />
    <noscript><style id="rocket-lazyload-nojs-css">.rll-youtube-player, [data-lazy-src]{display:none !important;}</style></noscript>

</head>
<body class="home page-template page-template-template-home page-template-template-home-php page page-id-5">
<header class="header">
    <nav class="navbar">
        <div class="container-md">
            <div class="top-nav">
                <ul class="top-menu">

                    <li class="nav__item">
                        <a class="nav__link" href="{{ path('home_about') }}">A propos</a>
                    </li>

                    <li class="nav__item">
                        <a class="nav__link" href="{{ path('home_carriere') }}">Carrières</a>

                    </li>

                    <li class="nav__item">
                        <a class="nav__link" href="{{ path('home_actualite') }}">Actualités</a>

                    </li>

                    <li class="nav__item nav__item-languages">
                        <!--   <a class="nav__link" href="#">fr </a>-->
                        <ul class="nav__dropdown">
                            <li class="nav__item">
                                <a class="nav__link" href="{{ asset('en/index.html') }}">
                                    en
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <div class="main-nav">
                <a href="{{ path('home_homepage') }}" class="navbar__logo">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="345" height="52.571" viewBox="0 0 345 52.571" class="logo-cloudtemple">
                        <defs>
                            <clipPath>
                                <rect width="2.789" height="2.791" fill="#fff"/>
                            </clipPath>
                            <clipPath>
                                <rect width="2.923" height="2.924" fill="#fff"/>
                            </clipPath>
                            <clipPath>
                                <rect width="3.057" height="3.056" fill="#fff"/>
                            </clipPath>
                            <clipPath>
                                <rect width="3.19" height="3.188" fill="#fff"/>
                            </clipPath>
                            <clipPath>
                                <rect width="3.323" height="3.322" fill="#fff"/>
                            </clipPath>
                            <clipPath>
                                <rect width="3.457" height="3.455" fill="#fff"/>
                            </clipPath>
                            <clipPath>
                                <rect width="3.59" height="3.588" fill="#fff"/>
                            </clipPath>
                        </defs>
                        <g transform="translate(11291 353.852)">
                            <g transform="translate(-11291 -353.852)">
                                <g transform="translate(292.42 0)" class="logo-cloudtemple-butterfly">
                                    <g transform="translate(0.308 49.563)" opacity="0.3">
                                        <g>
                                            <g clip-path="url(#clip-path)">
                                                <path d="M709.629,213.979a1.4,1.4,0,1,1,0,1.637,1.4,1.4,0,0,1,0-1.637" transform="translate(-709.365 -213.402)" fill="#fff"/>
                                            </g>
                                        </g>
                                    </g>
                                    <g transform="translate(2.76 46.978)" opacity="0.4">
                                        <g>
                                            <g clip-path="url(#clip-path-2)">
                                                <path d="M715.459,207.873a1.462,1.462,0,1,1,0,1.727,1.464,1.464,0,0,1,0-1.727" transform="translate(-715.178 -207.275)" fill="#fff"/>
                                            </g>
                                        </g>
                                    </g>
                                    <g transform="translate(5.213 44.392)" opacity="0.5">
                                        <g>
                                            <g clip-path="url(#clip-path-3)">
                                                <path d="M721.289,201.767a1.529,1.529,0,1,1,0,1.817,1.529,1.529,0,0,1,0-1.817" transform="translate(-720.99 -201.149)" fill="#fff"/>
                                            </g>
                                        </g>
                                    </g>
                                    <g transform="translate(7.666 41.808)" opacity="0.6">
                                        <g>
                                            <g clip-path="url(#clip-path-4)">
                                                <path d="M727.119,195.661a1.6,1.6,0,1,1,0,1.907,1.6,1.6,0,0,1,0-1.907" transform="translate(-726.803 -195.022)" fill="#fff"/>
                                            </g>
                                        </g>
                                    </g>
                                    <g transform="translate(10.118 39.222)" opacity="0.7">
                                        <g>
                                            <g clip-path="url(#clip-path-5)">
                                                <path d="M732.948,189.555a1.662,1.662,0,1,1,0,2,1.663,1.663,0,0,1,0-2" transform="translate(-732.615 -188.895)" fill="#fff"/>
                                            </g>
                                        </g>
                                    </g>
                                    <g transform="translate(12.571 36.636)" opacity="0.8">
                                        <g>
                                            <g clip-path="url(#clip-path-6)">
                                                <path d="M738.778,183.449a1.728,1.728,0,1,1,0,2.087,1.729,1.729,0,0,1,0-2.087" transform="translate(-738.428 -182.768)" fill="#fff"/>
                                            </g>
                                        </g>
                                    </g>
                                    <g transform="translate(15.024 34.051)" opacity="0.9">
                                        <g data>
                                            <g clip-path="url(#clip-path-7)">
                                                <path d="M744.608,177.343a1.8,1.8,0,1,1,0,2.177,1.8,1.8,0,0,1,0-2.177" transform="translate(-744.24 -176.64)" fill="#fff"/>
                                            </g>
                                        </g>
                                    </g>
                                    <path d="M750.438,171.237a1.862,1.862,0,1,1-.006,2.267,1.863,1.863,0,0,1,.006-2.267" transform="translate(-732.577 -139.048)" fill="#fff"/>
                                    <path d="M739.157,120.239c.552.158,1.2.149,1.8.36.3.106.581.588.9.539.693-.105.348-1.317.18-1.679-.345-.743-.613-1.17-.839-1.62-2.864-5.7-5.577-10.857-8.638-16.077a23.785,23.785,0,0,0-4.08-5.818h-.119c-.046.07-.231.11-.24.121-2.415,2.817-1.461,8.46-.3,11.877,1.975,5.809,5.556,10.636,11.337,12.3" transform="translate(-719.031 -95.944)" fill="#fff" fill-rule="evenodd"/>
                                    <path d="M724.984,139.19c1.221.119,3.237.835,3.54-.06.286-.848-1.283-1.9-1.92-2.459-4.182-3.658-8.015-6.888-12.237-10.258-1.476-1.177-3.5-2.966-5.459-3.6a3.57,3.57,0,0,0-.239,2.039,14.432,14.432,0,0,0,2.459,6.3c3.054,4.723,6.943,7.369,13.857,8.038" transform="translate(-708.636 -111.476)" fill="#fff" fill-rule="evenodd"/>
                                    <path d="M775.221,151.155c2.472-.188,2.019-4.136-.54-3.66a1.855,1.855,0,0,0,.54,3.66" transform="translate(-745.976 -125.72)" fill="#fff" fill-rule="evenodd"/>
                                    <path d="M764.138,157.315a1.455,1.455,0,0,0-1.679-1.379,5.162,5.162,0,0,0-3.359,1.679,5.936,5.936,0,0,0-1.8,3.179c-.135,1.061.345,1.894,1.32,1.979a4.843,4.843,0,0,0,3.659-1.8c.937-.936,1.97-2.123,1.859-3.659" transform="translate(-736.753 -130.62)" fill="#fff" fill-rule="evenodd"/>
                                    <path d="M796.21,177.13a180.928,180.928,0,0,0-18.536-10.259,15.386,15.386,0,0,0-3.239-1.559c-.3-.052-.875.243-.9.54-.026.317.44.6.54.9.233.687.279,1.411.48,2.04,1.43,4.464,4.376,7.341,8.338,9.418,3.847,2.016,11.416,4.616,15.837,1.139a6.633,6.633,0,0,0-2.52-2.219" transform="translate(-746.149 -136.038)" fill="#fff" fill-rule="evenodd"/>
                                    <path d="M769.731,175.412c-.609-.685-1.539-2-2.339-2.161-1.335-.27-.5,2.241-.42,2.761.19,1.31.241,2.55.479,3.719a16.541,16.541,0,0,0,9.3,11.877c1.843.927,4.08,2.047,6.659,1.38a20.414,20.414,0,0,0-3.479-5.459c-3.239-4.171-6.641-8.123-10.2-12.117" transform="translate(-742.166 -140.619)" fill="#fff" fill-rule="evenodd"/>
                                </g>
                                <g class="logo-cloudtemple-text">
                                    <path d="M140.32,143.98c-3.728,0-6.541-.629-8.358-1.87-1.8-1.23-2.673-3.136-2.673-5.829,0-2.677.878-4.577,2.684-5.805,1.825-1.242,4.633-1.871,8.346-1.871s6.5.629,8.336,1.871c1.813,1.229,2.7,3.128,2.7,5.8,0,2.693-.878,4.6-2.684,5.829-1.825,1.242-4.633,1.871-8.347,1.871m0-12.043a26.631,26.631,0,0,0-3.117.155,5.993,5.993,0,0,0-2.17.624,2.915,2.915,0,0,0-1.285,1.379,6.465,6.465,0,0,0,0,4.371,2.972,2.972,0,0,0,1.282,1.389,5.8,5.8,0,0,0,2.173.638,31.455,31.455,0,0,0,6.235,0,5.815,5.815,0,0,0,2.174-.638,2.974,2.974,0,0,0,1.281-1.389,5.412,5.412,0,0,0,.38-2.185,5.342,5.342,0,0,0-.38-2.186,2.919,2.919,0,0,0-1.285-1.379,6,6,0,0,0-2.17-.624,26.642,26.642,0,0,0-3.117-.155" transform="translate(-81.332 -109.408)" fill="#fff"/>
                                    <path d="M78.288,144.073V129.21h4.1v11.578H95.968v3.286Z" transform="translate(-51.852 -110.013)" fill="#fff"/>
                                    <path d="M590.248,144.073V129.21h4.1v11.578h13.578v3.286Z" transform="translate(-347.783 -110.013)" fill="#fff"/>
                                    <path d="M253.15,144.07V129.211h13.18c4.587,0,8.319,3.333,8.319,7.43s-3.732,7.429-8.319,7.429Zm4.079-3.282,8.789,0a4.142,4.142,0,1,0,0-8.243h-8.789Z" transform="translate(-152.929 -110.015)" fill="#fff"/>
                                    <path d="M23.957,144.13c-4.588,0-8.319-3.332-8.319-7.428s3.732-7.432,8.319-7.432h13.18V132.6H24.269a4.143,4.143,0,1,0,0,8.246H37.137v3.282Z" transform="translate(-15.638 -110.074)" fill="#fff"/>
                                    <path d="M342.775,144.127V132.591h-7.752v-3.325h20.968v3.325h-9.123v11.537Z" transform="translate(-200.254 -110.069)" fill="#fff"/>
                                    <path d="M396.416,144.13V129.266h20.968V132.6H400.542V135.2h13.193v2.75H400.542V140.8h16.842v3.332Z" transform="translate(-235.742 -110.069)" fill="#fff"/>
                                    <path d="M643.849,144.13V129.266h20.968V132.6H647.974V135.2h13.193v2.75H647.974V140.8h16.843v3.332Z" transform="translate(-378.767 -110.069)" fill="#fff"/>
                                    <path d="M532.1,144.146v-14.87h12.414c4.69,0,7.49,2.035,7.49,5.443s-2.8,5.442-7.49,5.442H536.18v3.985Zm4.08-7.249H545.1c1.709,0,2.771-.822,2.771-2.143s-1.062-2.144-2.771-2.144H536.18Z" transform="translate(-314.172 -110.08)" fill="#fff"/>
                                    <path d="M470.067,144.052a2.777,2.777,0,0,1-2.5-1.545l-4.727-9.065L460.159,143.8h-3.971l3.879-13.184a2.475,2.475,0,0,1,2.422-1.944,2.3,2.3,0,0,1,2.026,1.046l5.552,9.922,5.551-9.922a2.3,2.3,0,0,1,2.026-1.046,2.467,2.467,0,0,1,2.416,1.923l3.885,13.2h-3.971l-2.682-10.355-4.721,9.055a2.781,2.781,0,0,1-2.505,1.555" transform="translate(-270.292 -109.472)" fill="#fff"/>
                                    <path d="M202.5,144.36c-6.921-.043-10.285-2.237-10.285-6.708v-8.443h4.134v8.443a3.932,3.932,0,0,0,.276,1.541,2.489,2.489,0,0,0,.935,1.116,4.245,4.245,0,0,0,1.632.593,34.7,34.7,0,0,0,6.819,0,4.236,4.236,0,0,0,1.633-.593,2.486,2.486,0,0,0,.936-1.118,3.922,3.922,0,0,0,.275-1.539v-8.443h4.134v8.443c0,4.471-3.364,6.665-10.285,6.708l-.151,0Z" transform="translate(-117.708 -110.013)" fill="#fff"/>
                                </g>
                            </g>
                        </g>
                    </svg>
                </a>
                <ul class="navbar__menu">

                    <li class="nav__item">
                        <a class="nav__link" href="{{ path('home_cloud') }}">
                            Cloud
                            <i class="icon ion-ios-arrow-down"></i>
                        </a>
                        <button role="button" class="nav__button"><i class="icon ion-ios-arrow-down"></i></button>
                        <ul class="nav__dropdown">
                            <li class="nav__item">
                                <a class="nav__link" href="{{ path('home_cloud_strategie') }}">
                                    Stratégie cloud
                                </a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="{{ path('home_cloud_public') }}">
                                    Cloud public
                                    <i class="icon ion-ios-arrow-down"></i>
                                </a>
                                <button role="button" class="nav__button"><i class="icon ion-ios-arrow-down"></i></button>
                                <ul class="nav__dropdown nav__dropdown-sub">
                                    <li class="nav__item">
                                        <a class="nav__link" href="{{ path('home_cloud_public_azure') }}">Microsoft Azure</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="{{ path('home_cloud_public_amazon') }}">Amazon Web Services</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="{{ path('home_cloud_souverain') }}">
                                    Cloud Souverain
                                    <i class="icon ion-ios-arrow-down"></i>
                                </a>
                                <button role="button" class="nav__button"><i class="icon ion-ios-arrow-down"></i></button>
                                <ul class="nav__dropdown nav__dropdown-sub">
                                    <li class="nav__item">
                                        <a class="nav__link"
                                           href="../services/cloud/transformation-si/assurer-la-conformite-secnumcloud-des-editeurs/index.html">
                                            Virtual Data Center</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link"
                                           href="../services/cloud/transformation-si/efficacite-collaborative-avec-microsoft-365/index.html">
                                            Serveur Cloud Infogéré
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>

                    </li>

                    <li class="nav__item">
                        <a class="nav__link" href="../services/infogerance-si/index.html">
                            Infogérance
                            <i class="icon ion-ios-arrow-down"></i>
                        </a>
                        <button role="button" class="nav__button"><i class="icon ion-ios-arrow-down"></i></button>
                        <ul class="nav__dropdown">
                            <li class="nav__item">
                                <a class="nav__link" href="../services/infogerance-si/operation-24-7/index.html">
                                    Opération 24/7
                                </a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="../services/infogerance-si/secops/index.html">
                                    SecOps
                                </a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="../services/infogerance-si/finops/index.html">
                                    FinOps
                                </a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="../services/infogerance-si/assistance-aux-utilisateurs/index.html">
                                    Assistance aux utilisateurs
                                </a>
                            </li>
                        </ul>

                    </li>
                    <li class="nav__item d-xl-none">
                        <a class="nav__link" href="{{ path('home_about') }}">A propos</a>
                    </li>
                    <li class="nav__item d-xl-none">
                        <a class="nav__link" href="">Carrières</a>
                    </li>
                    <li class="nav__item d-xl-none">
                           <a class="nav__link" href="actu-evenements/index.html">Actualité</a>
                         </li>
                    <!--                   <li class="nav__item d-xl-none">
                         <a class="nav__link" href="responsabilite-societale/index.html">RSE</a>
                     </li>
                                     <li class="nav__item d-xl-none">
                         <a class="nav__link" href="mecenat/gilles-lamire/index.html">Mécénat</a>
                     </li>-->
                    <li class="nav__item nav__item-languages d-xl-none">
                        <a class="nav__link" href="#">fr </a>
                        <button role="button" class="nav__button"></button>
                        <ul class="nav__dropdown">
                            <li class="nav__item">
                                <a class="nav__link" href="{{ asset('en/index.html') }}">
                                    en
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__item nav__item-cta">
                        <a href="{{ path('contact_new') }}" class="nav__link d-xl-none">Contact</a>
                    </li>
                </ul>
                <a href="{{ path('contact_new') }}" class="btn btn-primary btn-cta">Contact</a>
                <a href="#" id="navbar-toggle" class="navbar__burger">
                    <div class="navbar__burger__icon">
                        <div></div>
                    </div>
                </a>
            </div>
        </div>
    </nav>
</header>

<body>
{% block body %}
{%  endblock body %}
</body>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-bottom__copyright">2021 © Cloud Temple</div>
            <ul class="footer-bottom__menu">

                <li class="footer-bottom__item">

                </li>
            </ul>
        </div>
    </div>
</footer>

{%  block javascripts %}
<script src="{{ asset('bundles/usnnewsletter/js/main.js') }}"></script>

<script type='text/javascript' id='rocket-browser-checker-js-after'>
    "use strict";var _createClass=function(){function defineProperties(target,props){for(var i=0;i<props.length;i++){var descriptor=props[i];descriptor.enumerable=descriptor.enumerable||!1,descriptor.configurable=!0,"value"in descriptor&&(descriptor.writable=!0),Object.defineProperty(target,descriptor.key,descriptor)}}return function(Constructor,protoProps,staticProps){return protoProps&&defineProperties(Constructor.prototype,protoProps),staticProps&&defineProperties(Constructor,staticProps),Constructor}}();function _classCallCheck(instance,Constructor){if(!(instance instanceof Constructor))throw new TypeError("Cannot call a class as a function")}var RocketBrowserCompatibilityChecker=function(){function RocketBrowserCompatibilityChecker(options){_classCallCheck(this,RocketBrowserCompatibilityChecker),this.passiveSupported=!1,this._checkPassiveOption(this),this.options=!!this.passiveSupported&&options}return _createClass(RocketBrowserCompatibilityChecker,[{key:"_checkPassiveOption",value:function(self){try{var options={get passive(){return!(self.passiveSupported=!0)}};window.addEventListener("test",null,options),window.removeEventListener("test",null,options)}catch(err){self.passiveSupported=!1}}},{key:"initRequestIdleCallback",value:function(){!1 in window&&(window.requestIdleCallback=function(cb){var start=Date.now();return setTimeout(function(){cb({didTimeout:!1,timeRemaining:function(){return Math.max(0,50-(Date.now()-start))}})},1)}),!1 in window&&(window.cancelIdleCallback=function(id){return clearTimeout(id)})}},{key:"isDataSaverModeOn",value:function(){return"connection"in navigator&&!0===navigator.connection.saveData}},{key:"supportsLinkPrefetch",value:function(){var elem=document.createElement("link");return elem.relList&&elem.relList.supports&&elem.relList.supports("prefetch")&&window.IntersectionObserver&&"isIntersecting"in IntersectionObserverEntry.prototype}},{key:"isSlowConnection",value:function(){return"connection"in navigator&&"effectiveType"in navigator.connection&&("2g"===navigator.connection.effectiveType||"slow-2g"===navigator.connection.effectiveType)}}]),RocketBrowserCompatibilityChecker}();
</script>
<script type='text/javascript' id='rocket-preload-links-js-extra'>
    /* <![CDATA[ */
    var RocketPreloadLinksConfig = {"excludeUris":"\/(.+\/)?feed\/?.+\/?|\/(?:.+\/)?embed\/|\/(index\\.php\/)?wp\\-json(\/.*|$)|\/btl959afc1\/|\/wp-admin\/|\/logout\/|\/btl959afc1\/","usesTrailingSlash":"1","imageExt":"jpg|jpeg|gif|png|tiff|bmp|webp|avif","fileExt":"jpg|jpeg|gif|png|tiff|bmp|webp|avif|php|pdf|html|htm","siteUrl":"https:\/\/www.cloud-temple.com","onHoverDelay":"100","rateThrottle":"3"};
    /* ]]> */
</script>
<script type='text/javascript' id='rocket-preload-links-js-after'>
    (function() {
        "use strict";var r="function"==typeof Symbol&&"symbol"==typeof Symbol.iterator?function(e){return typeof e}:function(e){return e&&"function"==typeof Symbol&&e.constructor===Symbol&&e!==Symbol.prototype?"symbol":typeof e},e=function(){function i(e,t){for(var n=0;n<t.length;n++){var i=t[n];i.enumerable=i.enumerable||!1,i.configurable=!0,"value"in i&&(i.writable=!0),Object.defineProperty(e,i.key,i)}}return function(e,t,n){return t&&i(e.prototype,t),n&&i(e,n),e}}();function i(e,t){if(!(e instanceof t))throw new TypeError("Cannot call a class as a function")}var t=function(){function n(e,t){i(this,n),this.browser=e,this.config=t,this.options=this.browser.options,this.prefetched=new Set,this.eventTime=null,this.threshold=1111,this.numOnHover=0}return e(n,[{key:"init",value:function(){!this.browser.supportsLinkPrefetch()||this.browser.isDataSaverModeOn()||this.browser.isSlowConnection()||(this.regex={excludeUris:RegExp(this.config.excludeUris,"i"),images:RegExp(".("+this.config.imageExt+")$","i"),fileExt:RegExp(".("+this.config.fileExt+")$","i")},this._initListeners(this))}},{key:"_initListeners",value:function(e){-1<this.config.onHoverDelay&&document.addEventListener("mouseover",e.listener.bind(e),e.listenerOptions),document.addEventListener("mousedown",e.listener.bind(e),e.listenerOptions),document.addEventListener("touchstart",e.listener.bind(e),e.listenerOptions)}},{key:"listener",value:function(e){var t=e.target.closest("a"),n=this._prepareUrl(t);if(null!==n)switch(e.type){case"mousedown":case"touchstart":this._addPrefetchLink(n);break;case"mouseover":this._earlyPrefetch(t,n,"mouseout")}}},{key:"_earlyPrefetch",value:function(t,e,n){var i=this,r=setTimeout(function(){if(r=null,0===i.numOnHover)setTimeout(function(){return i.numOnHover=0},1e3);else if(i.numOnHover>i.config.rateThrottle)return;i.numOnHover++,i._addPrefetchLink(e)},this.config.onHoverDelay);t.addEventListener(n,function e(){t.removeEventListener(n,e,{passive:!0}),null!==r&&(clearTimeout(r),r=null)},{passive:!0})}},{key:"_addPrefetchLink",value:function(i){return this.prefetched.add(i.href),new Promise(function(e,t){var n=document.createElement("link");n.rel="prefetch",n.href=i.href,n.onload=e,n.onerror=t,document.head.appendChild(n)}).catch(function(){})}},{key:"_prepareUrl",value:function(e){if(null===e||"object"!==(void 0===e?"undefined":r(e))||!1 in e||-1===["http:","https:"].indexOf(e.protocol))return null;var t=e.href.substring(0,this.config.siteUrl.length),n=this._getPathname(e.href,t),i={original:e.href,protocol:e.protocol,origin:t,pathname:n,href:t+n};return this._isLinkOk(i)?i:null}},{key:"_getPathname",value:function(e,t){var n=t?e.substring(this.config.siteUrl.length):e;return n.startsWith("index.html")||(n="/"+n),this._shouldAddTrailingSlash(n)?n+"/":n}},{key:"_shouldAddTrailingSlash",value:function(e){return this.config.usesTrailingSlash&&!e.endsWith("index.html")&&!this.regex.fileExt.test(e)}},{key:"_isLinkOk",value:function(e){return null!==e&&"object"===(void 0===e?"undefined":r(e))&&(!this.prefetched.has(e.href)&&e.origin===this.config.siteUrl&&-1===e.href.indexOf("?")&&-1===e.href.indexOf("#")&&!this.regex.excludeUris.test(e.href)&&!this.regex.images.test(e.href))}}],[{key:"run",value:function(){"undefined"!=typeof RocketPreloadLinksConfig&&new n(new RocketBrowserCompatibilityChecker({capture:!0,passive:!0}),RocketPreloadLinksConfig).init()}}]),n}();t.run();
    }());
</script>
<script type='text/javascript' src='wp-includes/js/wp-embed.minf658.js?ver=5.8.1' id='wp-embed-js' defer></script>
<script>window.lazyLoadOptions={elements_selector:"iframe[data-lazy-src]",data_src:"lazy-src",data_srcset:"lazy-srcset",data_sizes:"lazy-sizes",class_loading:"lazyloading",class_loaded:"lazyloaded",threshold:300,callback_loaded:function(element){if(element.tagName==="IFRAME"&&element.dataset.rocketLazyload=="fitvidscompatible"){if(element.classList.contains("lazyloaded")){if(typeof window.jQuery!="undefined"){if(jQuery.fn.fitVids){jQuery(element).parent().fitVids()}}}}}};window.addEventListener('LazyLoad::Initialized',function(e){var lazyLoadInstance=e.detail.instance;if(window.MutationObserver){var observer=new MutationObserver(function(mutations){var image_count=0;var iframe_count=0;var rocketlazy_count=0;mutations.forEach(function(mutation){for(i=0;i<mutation.addedNodes.length;i++){if(typeof mutation.addedNodes[i].getElementsByTagName!=='function'){continue}
        if(typeof mutation.addedNodes[i].getElementsByClassName!=='function'){continue}
        images=mutation.addedNodes[i].getElementsByTagName('img');is_image=mutation.addedNodes[i].tagName=="IMG";iframes=mutation.addedNodes[i].getElementsByTagName('iframe');is_iframe=mutation.addedNodes[i].tagName=="IFRAME";rocket_lazy=mutation.addedNodes[i].getElementsByClassName('rocket-lazyload');image_count+=images.length;iframe_count+=iframes.length;rocketlazy_count+=rocket_lazy.length;if(is_image){image_count+=1}
        if(is_iframe){iframe_count+=1}}});if(image_count>0||iframe_count>0||rocketlazy_count>0){lazyLoadInstance.update()}});var b=document.getElementsByTagName("body")[0];var config={childList:!0,subtree:!0};observer.observe(b,config)}},!1)</script><script data-no-minify="1" async src="wp-content/plugins/wp-rocket/assets/js/lazyload/16.1/lazyload.min.js"></script>
<script>
    window.addEventListener('mouseover', initLandbot, { once: true });
    window.addEventListener('touchstart', initLandbot, { once: true });
    var myLandbot;
    function initLandbot() {
        if (!myLandbot) {
            var s = document.createElement('script');s.type = 'text/javascript';s.async = true;
            s.addEventListener('load', function() {
                var myLandbot = new Landbot.Livechat({
                    configUrl: 'https://chats.landbot.io/v3/H-735070-SPS4F6D6FGUI6ALZ/index.json',
                });
            });
            s.src = '../static.landbot.io/landbot-3/landbot-3.0.0.js';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        }
    }
</script>
{%  endblock javascripts %}