
{% extends "base.html.twig" %}
{% block body %}
    <div class="main-wrapper">



        <section class="banner-slider">

            <div class="banner-slider__slide">
                <div class="banner-slider__dots"></div>
                <div class="container">
                    <div class="banner-slider__body">
                        <h2 class="banner-slider__title">N°1 en Tunisie de <br>l’Hébergement Critique<br/></h2>
                        <p>Votre IT à la vitesse des métiers</p>

                    </div>
                </div>
                <video class="banner-slider__video" autoplay muted loop playsinline src="{{ asset('assets/videos/home1.mp4') }}" type="video/mp4"></video>
            </div>
        </section>

        <section class="section-customers">
            <div class="container">
                <div class="customers-slider" style="background-color: white;">

                    <img data-lazy="{{ asset('assets/img/clients/zitouna.png') }}" class="customers-slider__logo w-95" alt="">



                    <img data-lazy="{{ asset('assets/img/clients/bouzgenda.png') }}" class="customers-slider__logo w-95" alt="">


                    <img data-lazy="{{ asset('assets/img/clients/hach.jpg') }}" class="customers-slider__logo w-95" alt="">


                    <img data-lazy="{{ asset('assets/img/clients/pgh.jpg') }}" class="customers-slider__logo w-95" alt="">


                    <img data-lazy="{{ asset('assets/img/clients/whitecape2.png') }}" class="customers-slider__logo w-95" alt="">


                    <img data-lazy="{{ asset('assets/img/clients/attijari.png') }}" class="customers-slider__logo w-95" alt="">



                    <img data-lazy="{{ asset('assets/img/clients/avril.jpg') }}" class="customers-slider__logo w-95" alt="">


                    <img data-lazy="{{ asset('assets/img/clients/pgi.png') }}" class="customers-slider__logo w-95" alt="">



                    <img data-lazy="{{ asset('assets/img/clients/virgo.png') }}" class="customers-slider__logo w-95" alt="">

                </div>
            </div>
        </section>

        <section class="section-services section-topo">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="heading text-center">
                            <div class="heading__title">
                                <div class="heading__subtitle">
                                    Nos services
                                </div>
                                <h2>Des solutions adaptées à vos enjeux métiers</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-4 d-flex">
                                <div class="card mb-5">
                                    <div class="card__body">
                                        <img class="mb-3" width="80" src="https://ctwwwmedias.blob.core.windows.net/default/2021/04/icon-cloud-souverain.svg" alt="" />
                                        <h4><a href="{{ path('home_cloud') }}">Cloud</a></h4>
                                        <p>De la conception au déploiement en passant par le maintien en condition
                                            opérationnelle de vos applications, nous vous accompagnons dans votre transformation
                                            numérique via le Cloud (public, hybride ou privé) en vous garantissant un haut niveau de
                                            sécurité et de fiabilité.
                                        </p>
                                    </div>
                                    <div class="card__footer">
                                        <a href="{{ path('home_cloud') }}" class="read-more">En savoir plus <i class="icon ion-md-arrow-forward"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-4 d-flex">
                                <div class="card mb-5">
                                    <div class="card__body">
                                        <img class="mb-3" width="80"  src="https://img.icons8.com/nolan/64/data-center.png"/>
                                        <h4><a href="{{ path('home_dataCenter') }}">Cloud Souverain</a></h4>
                                        <p>Avec l’ambition de devenir un des leaders du Cloud de confiance de l’État, nos services d’hébergement
                                            souverains répondent aux plus fortes exigences de sécurité du marché français et européen.
                                            Son design simplifie le déploiement de votre stratégie Infrastructure-as-Code et vous offre
                                            une capacité d’hybridation native avec les clouds publics Microsoft Azure et AWS. Plus que de
                                            l’hébergement, nous vous accompagnons sur la modernisation de vos applications et leur maintien en conditions opérationnelles.
                                            Le tout avec une empreinte carbone maîtrisée…</p>
                                    </div>
                                    <div class="card__footer">
                                        <a href="{{ path('home_dataCenter') }}" class="read-more">En savoir plus <i class="icon ion-md-arrow-forward"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-xl-4 d-flex">
                                <div class="card mb-5">
                                    <div class="card__body">
                                        <img class="mb-3" width="80" src="https://ctwwwmedias.blob.core.windows.net/default/2021/04/icon-infogerance-si.svg" alt="" />
                                        <h4><a href="{{ path('home_infogerance') }}">Infogérance</a></h4>
                                        <p>Quelques soient vos enjeux d’externalisation : carve-out, innovation, sécurité, coût...
                                            votre partenaire informatique est crucial pour que vous puissiez vous consacrer
                                            sur votre métier en toute sérénité. Vos intérêts sont notre priorité, vous apporter de la valeur notre leitmotiv.</p>
                                    </div>
                                    <div class="card__footer">
                                        <a href="{{ path('home_infogerance') }}" class="read-more">En savoir plus <i class="icon ion-md-arrow-forward"></i></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>


        <h2 style="text-align: center;">Nos experts vous garantissent un projet <br> <span style="color: #41A890">clé en main </span>avec engagement sur le résultat</h2><br>


        <section class="section-newsletter" style="text-align: center;">
            <br><br>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="https://img.icons8.com/ios/100/000000/cloud-refresh--v1.png"/>
                        <br><br>
                        <h4>MIGRATION EN DOUCEUR</h4>
<p style="color: white;">
    Nous nous adaptons à vos contraintes pour assurer une migration en douceur de tout votre SI</p>



                    </div><div class="col-md-4">
                        <img src="https://img.icons8.com/ios/100/000000/telescope.png"/>
                        <br><br>
                        <h4>SUPERVISION ET INFOGERANCE</h4>
<p style="color: white;">
    Nos équipes 24/7 assurent la gestion d’un système d’information avec respect des SLA client </p>



                    </div><div class="col-md-4">
                        <img src="https://img.icons8.com/ios/100/000000/marker--v1.png"/>
                        <br><br>
                        <h4>CLOUD SOUVERAIN</h4>
<p style="color: white;">
    Les avantages du Cloud Public alliés aux garanties du Cloud Privé le tout dans un Cloud Souverain</p>



                    </div>
                </div>
            </div>
        </section>


        <section class="section-testimonies">
            <div class="container">
                <div class="testimonies">
                    <div class="testimony">
                        <div class="row align-items-center">
                            <div class="col-12 col-lg-6 mb-sm-5 col-desc">
                                <div class="heading">
                                    <div class="heading__subtitle">
                                        Témoignages
                                    </div>
                                    <h2>Ils parlent de nous</h2>
                                </div>
                                <blockquote class="testimony__card">
                                    <div class="testimony__author">Hassen Saadi</div>
                                    <div class="testimony__role">
                                        DSI Groupe Hachicha
                                    </div>
                                    <div class="testimony__content">
                                         Groupe Hachicha a bâti sa croissance sur des valeurs fortes, centrées sur l’engagement et la satisfaction client.
                                        Afin de s’aligner sur ces objectifs, le groupe a fait le choix stratégique
                                        d’opter pour une IaaS (Infrastructure as a Service) à travers l’offre phare de Datacenter Virtuel fournie par Cloud Temple Tunisia.
                                    </div>
                                </blockquote>
                            </div>
                            <div class="col-12 col-lg-6 col-img">
                                <div class="img-illustrated">
                                    <div class="img-illustrated__card">
                                        <img
                                                class="img-fluid"
                                                src="{{ asset('assets/img/logo_groupe_hachicha.png') }}"
                                                alt=""
                                        />
                                    </div>
                                    <img
                                            class="img-to-lazy"
                                            width="700"
                                            height="700"
                                            src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                            data-src="{{ asset('assets/img/ble.jpg') }}"
                                            alt=""
                                    />
                                    <div class="pattern pattern-blob pattern-b-r pattern-lg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimony">
                        <div class="row align-items-center">
                            <div class="col-12 col-lg-6 mb-sm-5 col-desc">
                                <div class="heading">
                                    <div class="heading__subtitle">
                                        Témoignages
                                    </div>
                                    <h2>Ils parlent de nous</h2>
                                </div>
                                <blockquote class="testimony__card">
                                    <div class="testimony__author">Bassem Romdhani</div>
                                    <div class="testimony__role">
                                        DSI Adjoint Poullina Groupe
                                    </div>
                                    <div class="testimony__content">
                                         Le passage au Cloud est le meilleur choix qu’une DSI puisse faire.
                                        Considérée par le passé comme un frein au passage au Cloud, la sécurité représente désormais un argument de pointe qui pousse
                                        les entreprises à franchir le pas plus facilement.
                                        Les données sont en effet plus sécurisées dans le nuage que dans nos propres salles serveurs.
                                    </div>
                                </blockquote>
                            </div>
                            <div class="col-12 col-lg-6 col-img">
                                <div class="img-illustrated">
                                    <div class="img-illustrated__card">
                                        <img
                                                class="img-fluid"
                                                src="{{ asset('assets/img/poulina.png') }}"
                                                alt=""
                                        />
                                    </div>
                                    <img
                                            class="img-to-lazy"
                                            width="700"
                                            height="700"
                                            src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                            data-src="https://ctwwwmedias.blob.core.windows.net/default/2021/04/bg-eurotoll-1-700x700.jpg"
                                            alt=""
                                    />
                                    <div class="pattern pattern-blob pattern-b-r pattern-lg"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <section class="section-about">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 mb-5">
                        <div class="img-illustrated">
                            <img
                                    class="img-to-lazy"
                                    width="700"
                                    height="700"
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    data-src="https://ctwwwmedias.blob.core.windows.net/default/2021/04/qui-sommes-nous-700x700.jpg"
                                    alt=""
                            />
                            <div class="pattern pattern-dots pattern-t-l"></div>
                            <div class="pattern pattern-blob pattern-b-r pattern-lg"></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mt-5 mt-md-0">
                        <div class="heading heading-quote">
                            <img class="heading__icon" src="wp-content/themes/cloudtemple/src/assets/images/icon-quote.svg" alt="" />
                            <h2>Qui sommes nous ?</h2>
                        </div>
                        <p class="mb-5">
                            Cloud Temple est une entreprise de services numériques. Elle est spécialisée dans la transformation, l’hébergement et l’infogérance d’applications critiques d’entreprise : la bonne stack applicative pour le bon enjeu métier !
                        </p>
                        <a href="{{ path('home_about') }}" class="btn btn-primary">En savoir plus</a>

                    </div>
                </div>
            </div>
        </section>
        <section class="section-newsletter" style="text-align: center;">
            <div class="container">
                <div class="heading text-center mb-5">
                    <div class="heading__title">
                        <div class="heading__subtitle">
                            Infos
                        </div>
                        <h2>Newsletter</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-6 col-lg-8 offset-xxl-3 offset-lg-2">
                        <p class="text-center text-light marger">
                            Restez informé de toute l'actualité de Cloud Temple en vous abonnant dès maintenant à notre newsletter.
                        </p>



                        <div class="newsletter__form">
                            <div class="form-group-newsletter">
                                {{ form_start(form) }}
                                {{ form_widget(form.email, { 'attr':{'class':'form-control form-control-newsletter'} }) }}

                            </div>
                            &nbsp;


                        </div>
                        <p style="bottom: 150px;">

                            {{ form_end(form) }}
                        </p>
                        <div class="newsletter__loading">
                            <img src="wp-content/themes/cloudtemple/src/assets/images/icon-loader.svg">
                        </div>
                        <div class="newsletter__success">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                                <circle class="path circle" fill="none" stroke="#FFFFFF" stroke-width="8" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
                                <polyline class="path check" fill="none" stroke="#FFFFFF" stroke-width="8" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>

    </body>{%  endblock %}